<div data-sly-test="${wcmmode.edit}" class="cq-placeholder" data-emptytext="Slalom Title"></div>
<h2 class="${properties.color @ context='styleString'}">${properties.title}</h2>
<p data-sly-test.isAlaska="${properties.state == 'Alaska'}">Selected state is Alaska</p>
<p data-sly-test="${!isAlaska}">Alaska is not selected</p>
<ul data-sly-list.child="${currentPage.listChildren}">
	<li>${child.title}</li>
</ul>

<p data-sly-use.slalomTitle="com.slalom.core.components.SlalomTitle">Use class value: ${slalomTitle.message}</p>

<div data-sly-use.titleJS="title.js">
	<p>Page title: ${titleJS.pageTitle}</p>
	<p>Selected state: ${titleJS.state}</p>
</div>